*{
  box-sizing: inherit;
}

html,body,h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif;
}

div{
  display: block;
}

body{
  font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    min-height: 1280px;
    height: 100%;
}

.light-grey{
  color: #000!important;
  background-color: #f1f1f1!important;
}

.content {
  max-width:980px;
  margin:auto;
  height: -webkit-fill-available;
  z-index: 5;
}

.conteiner-main{
margin: 16px auto!important;
}


.margin-top{
  margin-top:16px!important;
}

.onethird{
  width: 33.33333%;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}

.row-padding .twothird{
  padding: 0 8px;
}

.row-padding .onethird{
  padding: 0 8px;
}

.padding-16{
  padding-top:16px;
  padding-bottom:16px;
}

.padding-top-zero{
  padding-top:0px!important;
}

.padding-bottom-zero{
  padding-bottom:0px!important;
}

.white {
  color:#000!important;
  background-color:#fff!important
}

.text-grey{
  color:#757575!important
}

.card-4,.hover-shadow:hover{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.display-container{
  position:relative
}

.display-bottomleft{
  position:absolute;
  left:0;
  bottom:0
}
.container{
  padding:0.01em 16px;
}
.text-black{
  color:#000!important;
}

.large{
  font-size:18px!important;
}

.twothird{
  float:left;
  width:100%;
}

.card {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}


.margin-bottom{
  margin-bottom:16px!important;
}


#name{
  background-color: rgba(255, 255, 255, 0.7);
}

.margin-right{
  margin-right:16px!important;
}

.xxlarge {
  font-size:36px!important;
}

.text-teal{
  color:#009688!important;
}

.opacity{
opacity:0.60;
}

@media (min-width: 601px) {
  .twothird {
    width: 62.66666% !important;
  }
}

.hover-opacity:hover{
  opacity:0.60;
}

.large{
  font-size:18px!important
}

.teal {
  color:#fff!important;
  background-color:#009688!important;
}


.center{
  text-align:center!important;
}

a i{
  min-width: 70px;
  min-height: 70px;
}

.soc{
  padding-top: 25px;
  margin-bottom: -25px;
}

footer{
  height:100px;
  z-index: 10;
}
.timeline_text{
  font-size: 15px!important;
    line-height: 1.5!important;
}

.teal{
  color:#fff!important;
  background-color:#009688!important;
}